* { margin: 0; padding: 0; font-family:Arial, Helvetica, sans-serif; font-size:14px;}

#container {
    min-height:100vh;
    align-items: center;
    background-color: #b5d8ab;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#centralizar {
    background-color: #b5d8ab;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #638D62;
    font-family: Georgia;
    font-weight: bold;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buscar {
    padding: 3px;
    box-sizing: border-box;
    float: left;
    display: inline-block;
}

header {
  padding: 10px;
}

footer {
  text-align: right;
  padding: 10px;
}

/* button */
.btn {
  box-sizing: border-box;
  appearance: none;
  background-color: transparent;
  border: 2px solid #50644f;
  border-radius: 0.6em;
  color: #50644f;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  &:hover,
  &:focus {
    color: #fff;
    outline: 0;
  }
}

.lupa {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    box-shadow: 0 0 40px 40px #50644f inset;
  }
}

/* input */
.col-3{
  float: left;
  width: 27.33%;
  margin: 40px 3%;
  position: relative; /* necessary to give position: relative to parent. */
}
input[type="text"]{
  font: 15px;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 0px;
}

.effect-1{
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #6f886d;
  background-color: transparent;
}

.effect-1 ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #3399FF;
  transition: 0.4s;
}

.effect-1:focus ~ .focus-border,
.has-content.effect-1 ~ .focus-border{
  width: 100%;
  transition: 0.4s;
}

.effect-1 ~ label{
  position: absolute;
  left: 0;
  width: 100%;
  top: 9px;
  color: #6f886d;
  transition: 0.3s;
  z-index: -1;
  letter-spacing: 0.5px;
}

.effect-1:focus ~ label,
.has-content.effect-1 ~ label{
  top: -16px;
  font-size: 13px;
  color: #3399FF;
  transition: 0.3s;
}

/* download button */
.button-81 {
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: 100;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none #669271 solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #669271;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 13px;
    padding: 1rem 2rem;
  }
}

.card-title a {
    color: #669271;
}

.card-link:hover a {
    color: #669271;
}

/* css paginacao */

.center {
    display: flex;
    flex-direction: column;
  justify-content : center;
  align-items: center;
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: #000;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid transparent;
  margin: 0 4px;
}
.pagination a:hover {
    color : #669271;
}

.pagination a.active {
  background-color: #669271;
  color: white;
  border: 1px solid #669271;
}

.pagination a:hover:not(.active) {background-color: #ddd;}